port            = 8433
bind_addr       = "0.0.0.0"
public_address  = "localhost"

ssl_cert    = "__CFG__/certs/cert.pem"
ssl_key     = "__CFG__/certs/key.pem"
strict_ssl_certificate_check = true

client_cfg_path     = "clients"
schedules_cfg_path  = "schedules"
backup_storage_path = "/opt/relique"
module_install_path = "__DATA__/modules"
retention_path      = "__DATA__/retention.dat"
db_path				= "__DATA__/db/server.db"
